@charset "utf-8";

*{
  margin:0;
  padding:0;
}

body{
  background-image:url(https://raw.githubusercontent.com/yuki-takamura/2016web1-9/gh-pages/controller.jpg),
  url(https://raw.githubusercontent.com/yuki-takamura/2016web1-9/gh-pages/image1.JPG);
  background-repeat:no-repeat,repeat;
  background-color:lightgrey;
  margin:5px;
}

#text-shadow{
  padding:0 40px;
  font-size: 30px;
}

.drop_shadow{text-shadow:2px 2px 3px gray;}

.bebel      {color:silver;
             text-shadow: -1px -1px 0px white,
                           1px  1px 0px darkgray;}

#box-shadow{
  font-size:30px;
}
.box-multi_shadow {box-shadow: 0px 0px 0px 3px lightgrey inset,
                               0px 0px 0px 4px black inset,
                               2px 2px 10px 0px black; padding: 5px; margin:20px;}

#gradient{
  font-size:30px;
}

.two-gradient{
  background-color:white;
  background:linear-gradient(0deg,
  orangered 0%,
  white    50%);
}

.transform{
  font-size:5px;
  width:100px;
  text-align:center;
  padding:45px 0px;
  margin:20px;
  background-color:mediumspringgreen;
}
.rotate{
  transform :rotate(30deg);
}

p.transition{
  margin:10px;
}
p.transition a{
  background-color:mediumseagreen;
  color:white;
  font-size:30px;
  text-decoration:none;
  padding:5px;
  transition:1s;
}
p.transition a:hover{
  background-color:gold;
  text-decoration:none;
  padding:5px;
  color:black;
}

