@charset "utf-8";

*{
  margin:0;
  padding:0;
}

body{
  background-image:url(https://raw.githubusercontent.com/yuki-takamura/2016web1-9/gh-pages/controller.jpg),
  url(https://raw.githubusercontent.com/yuki-takamura/2016web1-9/gh-pages/image1.JPG);
  background-repeat:no-repeat,no-repeat;
  background-color:lightgrey;
  margin:5px;
}

#text-shadow{
  padding:0 40px;
  font-size: 30px;
}

.drop_shadow{text-shadow:2px 2px 3px gray;}

.bebel      {color:silver;
             text-shadow: -1px -1px 0px white,
                           1px  1px 0px darkgray;}

#box-shadow{
  font-size:30px;
}
.box-multi_shadow {box-shadow: 0px 0px 0px 3px lightgrey inset,
                               0px 0px 0px 4px black inset,
                               2px 2px 10px 0px black; padding: 5px; margin:20px;}
